/vendor/
/.idea/
/tests/_data/build-test/dist/*
.DS_Store
!/tests/_data/build-test/.DS_Store
tests/_data/build-ignoring-test/dist/*
tests/_data/build-ignoring-test/vendor/
tests/_data/build-test/dist/*
tests/_data/build-test/vendor/
tests/_data/build-move/dist/*
tests/_data/build-move/vendor/
tests/_data/build-dev-req-test/dist/*
tests/_data/build-dev-req-test/vendor/
tests/_data/build-move-test/dist/*
